<!DOCTYPE html>

<html lang="en">

    <head>

        <%- include('../partials/head'); %>
        <title>Account</title>

    </head>

    <body id = "Account">
        <!-- Navbar and (Logo) -->
        <div class="nav-container">
            
            <%- include('../partials/nav'); %>
            
        </div>

        <!-- Account page -->
        <main id="account-page">
            <div class="formcontainer">
                <h1 class="intro">My Account</h1>
                <h1 id="hellomsg">Hello, <%= user.name.first %></h1>

                <h2 id="quotemsg">Here are your quotes:</h2>
                <ul>

                </ul>    
            </div>
        </main>

        <!-- Extra Stuff -->
        <footer class="footer-container">

            <%- include('../partials/footer'); %>
    
        </footer>
    </body>

</html>