<!DOCTYPE html>

<html lang="en">

    <head>

        <%- include('../partials/head'); %>
        <title>Quote Calculator</title>

    </head>

    <body id = "Calculator">
        <!-- Navbar and (Logo) -->
        <div class="nav-container">
            
            <%- include('../partials/nav'); %>
            
        </div>
        <div class="page-wrap">
            <main id="calculator-page">
                <h2 id="calculator-title">Quote Calculator</h2>
                <form id="calculator-form" action="" method="post">
                    <% if (locals.loggedin) { %>
                        <label for="projectName">Project Name:</label>
                        <input type="text" id="projectName" name="projectName">
                      <% } %>
                    <label for="timePeriod">Time & Period:</label>
                    <div class="form-controls">
                        <input type="number" id="time" name="time">
                        <select id="period" name="period">
                            <option value="hour">Hours</option>
                            <option value="day">Days</option>
                            <option value="month">Months</option>
                        </select>
                    </div>
                    <label for="payGrade">Pay Grade:</label>
                    <div class="form-controls">
                        <select id="payGrade" name="payGrade">
                            <option value="senior">Senior Worker</option>
                            <option value="standard">Standard Worker</option>
                            <option value="junior">Junior Worker</option>
                          </select>
                    </div>
                    <label for="ongoing">Ongoing Costs:</label>
                    <div class="form-controls">
                        <input type="number" id="ongoing" name="ongoingCosts">
                        <select id="ongoingCost" name="frequency">
                            <option value="week">Weekly</option>
                            <option value="month">Monthly</option>
                            <option value="year">Annual</option>
                        </select>
                    </div>
                    <label for="oneOff">One-off Costs:</label>
                    <div class="form-controls">
                        <input type="number" id="oneOffCost" name="oneOffCost">
                    </div>
                    <div class="form-controls">
                        <button>Calculate Quote</button>
                    </div>
                  </form>
                  <div id="output"></div>
                  <div class="form-controls">
                    <% if (locals.loggedin) { %>
                      <button id="saveQuote">Save Quote</button>
                    <% } %>
                  </div>
            </main>
    
            <!-- Extra Stuff -->
            
        </div>

        <div class="footer-container">
    
            <%- include('../partials/footer'); %>
    
        </div>
        <!-- Quote calculator page -->
        
        <script src="/scripts/CalculatorForm.js"></script>
    </body>

</html>