<!DOCTYPE html>

<html lang="en">

    <head>

        <%- include('../partials/head'); %>
        <title>Quote Calculator</title>

    </head>

    <body id = "Calculator">
        <!-- Navbar and (Logo) -->
        <div class="nav-container">
            
            <%- include('../partials/nav'); %>
            
        </div>
        <div class="page-wrap">
            <main id="calculator-page">
                <h2 id="calculator-title">Quote Calculator</h2>
                <% if (locals.admin) { %>
                    <!-- Make checkbox if admin wants fudge factor -->
                    <label for="fudgeCheckmark">Use fudge factor</label>
                    <input type="checkbox" id="fudgeCheckmark" name="fudgeCheckmark" value="fudgeCheckmark">

                <% } %>

                <% if (locals.loggedin) { %>
                    <label for="projectName">Project Name:</label>
                    <input type="text" id="projectName" name="projectName">
                <% } %>
                <div id="subtasks">
                <button class="form-controls" onclick="addSubtaskRow()" type="button">Add Subtask(s)</button>
                <form class="subtask-form" action="" method="post">
                    <h3 class="subtask-header">Subtask 1</h3>
                    <div class="subtask">
                        <label for="timePeriod">Time & Period:</label>
                        
                        <div class="form-controls">
                            <input type="number" id="time" name="time">
                            <select id="period" name="period">
                                <option value="hour">Hours</option>
                                <option value="day">Days</option>
                                <option value="month">Months</option>
                            </select>
                        </div>
                        <label for="paygrade">Pay Grade:</label>
                        <div class="form-controls">
                            <select name="paygrade" id="paygrade">
                                <option value="standard">Standard</option>
                                <option value="junior">Junior</option>
                                <option value="senior">Senior</option>
                            </select>
                            <input type="number" id="payGradeAmount" name="payGradeAmount">
                        </div>
                        <label for="ongoingAmount">Ongoing Costs:</label>
                        <div class="form-controls">
                            <input type="number" id="ongoingAmount" name="ongoingAmount">
                            <select id="ongoingCost" name="frequency">
                                <option value="week">Weekly</option>
                                <option value="month">Monthly</option>
                                <option value="year">Annual</option>
                            </select>
                        </div>
                        <label for="oneOffCosts">One-off Costs:</label>
                        <div class="form-controls">
                            <input type="number" id="oneOffCosts" name="oneOffCosts">
                        </div>
                    </div>

                    <div class="form-controls">
                        <button class="subtaskQuote" type="button">Calculate subtask</button>
                    </div>
                    <div class="subtaskOutput"></div>
                </form>
                </div>
                  <div id="output"></div>
                  <div class="form-controls">
                    <button id="calculateQuote" type="button">Calculate the quote</button>
                    <% if (locals.loggedin) { %>
                      <button id="saveQuote" type="button">Save Quote</button>
                    <% } %>
                  </div>

                  <div id="explanation">
                    <p>The project quote estimate is based on:
                        Personel costs, which are calculated based on the time and pay grade of the personel required to complete the task,
                        Ongoing costs, which are calculated based on the ongoing costs of the task, and,
                        One-off costs, which are calculated based on the one-off costs of the task.
                    </p>
                  </div>
            </main>
    
            <!-- Extra Stuff -->
            
        </div>

        <!-- <div class="footer-container">
    
            <%- include('../partials/footer'); %>
    
        </div> -->
        <!-- Quote calculator page -->
        
        <script src="/scripts/CalculatorForm.js"></script>
        <!-- templates -->
        <%- include('../templates/subtask.ejs'); %>
    </body>

</html>