<!DOCTYPE html>

<html lang="en">

    <head>

        <%- include('../partials/head'); %>
        <title>Sign Up</title>

    </head>

    <body id = "SignUp">
        <!-- Navbar and (Logo) -->
        <div class="nav-container">
            
            <%- include('../partials/nav'); %>
            
        </div>

        <!-- Sign Up page, and link back to sign in -->
        <div class="page-wrap">
            <main>
                <!-- Sign up form -->
                <div class="formcontainer">
                    <h2 class="intro">Sign Up</h2>
                    <p class="toSignUp">Please fill in to create account</p>
                    <hr>
    
                    <form id="signform" action = "/AddUser" method = "POST">
                        
                        <label for="email"><b>Email</b></label>
                        <div class="form-controls">
                            <input type="text" placeholder="Enter Email" name="email" required>
                        </div>
                        <label for="firstname"><b>First Name</b></label>
                        <div class="form-controls">
                            <input type="text" placeholder="Enter First Name" name="firstname" required>
                        </div>
                        <label for="lastname"><b>Last Name</b></label>
                        <div class="form-controls">
                            <input type="text" placeholder="Enter Last Name" name="lastname" required>
                        </div>
                        <label for="username"><b>Username</b></label>
                        <div class="form-controls">
                            <input type="text" placeholder="Enter Username" name="username" required>
                        </div>
                        <label for="password"><b>Password</b></label> 
                        <div class="form-controls">
                            <input type="password" placeholder="Enter Password" name="password" required>
                        </div>
                        <p class="toSignUp">By creating an account you agree to our <a href="#">Terms & Conditions</a>.</p>
    
                        <div class="form-controls">
                            <button type="button" class="cancelbtn" onclick="document.location='/SignIn'">Back</button>
                            <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>

        


        <!-- Extra Stuff -->
        <div class="footer-container">

            <%- include('../partials/footer'); %>
    
        </div>
    </body>

</html>