<!DOCTYPE html>

<html lang="en">

    <head>

        <%- include('../partials/head'); %>
        <title>Sign Up</title>

    </head>

    <body id = "SignUp">
        <!-- Navbar and (Logo) -->
        <div class="nav-container">
            
            <%- include('../partials/nav'); %>
            
        </div>

        <!-- Sign Up page, and link back to sign in -->
        <main>
            <!-- Sign up form -->
            <div class="formcontainer">
                <h1 class="intro">Sign Up</h1>
                <p class="toSignUp">Please fill in to create account</p>
                <hr>

                <form id="signform" action = "/AddUser" method = "POST">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>

                    <label for="firstname"><b>First Name</b></label>
                    <input type="text" placeholder="Enter First Name" name="firstname" required>

                    <label for="lastname"><b>Last Name</b></label>
                    <input type="text" placeholder="Enter Last Name" name="lastname" required>

                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="password"><b>Password</b></label> 
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <p class="toSignUp">By creating an account you agree to our <a href="#">Terms & Conditions</a>.</p>

                    <div class="clearfix">
                        <button type="button" class="cancelbtn" onclick="document.location='/SignIn'">Back</button>
                        <button type="submit" class="signupbtn">Sign Up</button>
                    </div>
                </form>
            </div>
        </main>


        <!-- Extra Stuff -->
        <footer class="footer-container">

            <%- include('../partials/footer'); %>
    
        </footer>
    </body>

</html>