<!DOCTYPE html>

<html lang="en">

    <head>

        <%- include('../partials/head'); %>
        <title>Sign In</title>

    </head>

    <body id = "SignIn">
        <!-- Navbar and (Logo) -->
        <div class="nav-container">
            
            <%- include('../partials/nav'); %>
            
        </div>

        <!-- Sign in option and link to sign up page -->
        <div class="page-wrap">
            <main id="login-page">
                <h2 class="intro">Login</h2>
    
                <form action = "/Login" method = "POST">
                    <label for="uname"><b>Username</b></label>
                    <div class="form-controls">
                        <input type="text" placeholder="Enter Username" name="username" required>
                    </div>
                    
            
                    <label for="pword"><b>Password</b></label>
                    <div class="form-controls">
                        <input type="password" placeholder="Enter Password" name="password" required>
                    </div>
                    <div class="form-controls">
                        <button type="submit" id="signIN">Login</button>
                    </div>

                </form>

                <label id="remember">
                    <input type="checkbox" checked="checked">
                    Remember me
                </label>
                
                
                <span class="pword"><a href="#">Forgot password?</a></span>
    
                <!-- Signup -->
                <p class="toSignUp">Don't have an account?</p>
                <div class="form-controls">
                    <button type="button" id="signUP" onclick="document.location='/SignUp'">Sign-up Here</button>
                </div>
                
            </main>
        </div>
        

        <!-- Extra Stuff -->
        <div class="footer-container">

            <%- include('../partials/footer'); %>
    
        </div>
    </body>

</html>