<!DOCTYPE html>

<html lang="en">

    <head>

        <%- include('../partials/head'); %>
        <title>Sign Up</title>

    </head>

    <body id = "SignUp">
        <!-- Navbar and (Logo) -->
        <nav class="nav-container">
            
            <%- include('../partials/nav'); %>
            
        </nav>

        <!-- Sign Up page, and link back to sign in -->
        <main id="login-page">

        </main>

        <!-- Extra Stuff -->
        <footer class="footer-container">

            <%- include('../partials/footer'); %>
    
        </footer>
    </body>

</html>