<!--PAGE FOOTER-->

<div>


    <p id="footer-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium debitis dolorem rem
        eveniet nesciunt corporis cupiditate atque nemo perspiciatis exercitationem? Dignissimos voluptas cumque
        sunt consequatur iure ipsa nesciunt atque tenetur. </p>

</div>

<div class="sign-wrapper">
    <p id="signature">Copyright &copy; 2023 <span>Osman</span>
</div>