<!--PAGE NAVIGATION-BAR-->

<nav class="nav-bar">
    <div class="nav-left">
        <a href="/">Home</a>
    </div>
    <div class="nav-right">
        <% if (locals.loggedin) { %>
            <a href="/Account">Profile</a>
            <a href="/Logout">Logout</a>
        <% } else { %>
            <a href="/SignIn">Sign-In</a>
            <a href="/SignUp">Sign-Up</a>
        <% } %>
    </div>
</nav>