<template id="subtask-template">
    <form class="subtask-form" action="" method="post">
        <h3 class="subtask-header">Subtask 1</h3>
        <div class="subtask">
            <label for="timePeriod">Time & Period:</label>
            
            <div class="form-controls">
                <input type="number" id="time" name="time">
                <select id="period" name="period">
                    <option value="hour">Hours</option>
                    <option value="day">Days</option>
                    <option value="month">Months</option>
                </select>
            </div>
            <label for="payGrade">Pay Grade:</label>
            <div class="form-controls">
                <select name="payGrade" id="payGrade">
                    <option value="standard">Standard</option>
                    <option value="junior">Junior</option>
                    <option value="senior">Senior</option>
                </select>
                <input type="number" id="payGradeAmount" name="payGradeAmount">
            </div>
            <label for="ongoingAmount">Ongoing Costs:</label>
            <div class="form-controls">
                <input type="number" id="ongoingAmount" name="ongoingAmount">
                <select id="ongoingCost" name="frequency">
                    <option value="week">Weekly</option>
                    <option value="month">Monthly</option>
                    <option value="year">Annual</option>
                </select>
            </div>
            <label for="oneOffCosts">One-off Costs:</label>
            <div class="form-controls">
                <input type="number" id="oneOffCosts" name="oneOffCosts">
            </div>
        </div>

        <div class="form-controls">
            <button>Calculate Subtask</button>
        </div>

            <button onclick="removeSubtaskRow(this)" class="form-controls">Delete</button>

        
      </form>

    
</template>